{%set pagination = table.pagination%}
{%set currentPageNo = pagination.pageNo%}

{%if pagination%}
<a name="{{table.tableId}}_A_PAGINATION"></a>
<ul class="pagination">
{%if pagination.startPage > 1%}
<li class="page-item"><a class="page-link" href="?{{table.tableId}}_p=1&{{table.addtlQuery}}#{{table.tableId}}_A_PAGINATION">First</a></li>
<li class="page-item unavailable"><a class="page-link" href="#" onclick="return false;" style="color: #333;">&hellip;</a></li>
{%endif%}

{%for page in pagination.pages%}
<li class="page-item{%if currentPageNo == page%} current active{%endif%}">
  <a class="page-link" href="?{{table.tableId}}_p={{page}}&{{table.addtlQuery}}#{{table.tableId}}_A_PAGINATION">{{page}}</a></li>
{%endfor%}

{%if pagination.endPage < pagination.totalPage%}
<li class="page-item unavailable"><a class="page-link" href="#" onclick="return false;" style="color: #333;">&hellip;</a></li>
<li class="page-item"><a class="page-link" href="?{{table.tableId}}_p={{pagination.totalPage}}&{{table.addtlQuery}}#{{table.tableId}}_A_PAGINATION">Last</a></li>
{%endif%}
</ul>
{%endif%}

<table class="table{{addtlTableClass}}">
<thead>
<tr>
{%for fieldLabel in table.labels%}
<td>{{fieldLabel}}</td>
{%endfor%}
</tr>
</thead>
<tbody>

{%if table.count > 0%}
  {%for record in table.records%}
  <tr{%if loop.index == 1 and table.pageNo == 1%} class="first-ever"{%endif%}{%if record._rowStyle%} style="{{record._rowStyle}}"{%endif%}>
  {%set isLast = loop.last%}
  {%for col in table.columns%}
  <td{%if record[col]._colStyle%} style="{{record[col]._colStyle}}"{%endif%}>{%if loop.index == 1 and isLast%}<a name="lastPost"></a>{%endif%}{%if record[col]._html%}{{record[col]._html | safe}}{%else%}{{record[col] | safe}}{%endif%}</td>
  {%endfor%}
  </tr>
  {%endfor%}
{%else%}
  <tr><td colspan="{{table.columns.length}}">{{table.noRecordsFoundLabel}}</td></tr>
{%endif%}
</tbody>
</table>