{%set pagination = table.pagination%}
{%if pagination%}
<ul class="pagination">
{%if pagination.startPage > 1%}
<li><a href="?{{table.tableId}}_p=1&{{table.addtlQuery}}">First</a></li>
<li class="unavailable"><a href="">&hellip;</a></li>
{%endif%}

{%for page in pagination.pages%}
<li {%if pagination.pageNo == page%}class="current"{%endif%}><a href="?{{table.tableId}}_p={{page}}&{{table.addtlQuery}}">{{page}}</a></li>
{%endfor%}

{%if pagination.endPage < pagination.totalPage%}
<li class="unavailable"><a href="">&hellip;</a></li>
<li><a href="?{{table.tableId}}_p={{pagination.totalPage}}&{{table.addtlQuery}}">Last</a></li>
{%endif%}
</ul>
{%endif%}

<table class="table{{addtlTableClass}}">
<thead>
<tr>
{%for fieldLabel in table.labels%}
<td>{{fieldLabel}}</td>
{%endfor%}
</tr>
</thead>
<tbody>

{%if table.count > 0%}
  {%for record in table.records%}
  <tr{%if loop.index == 1 and pagination.pageNo == 1%} class="first-ever"{%endif%}>
  {%set isLast = loop.last%}
  {%for col in table.columns%}
  <td>{%if loop.index == 1 and isLast%}<a name="lastPost"></a>{%endif%}{{record[col] | safe}}</td>
  {%endfor%}
  </tr>
  {%endfor%}
{%else%}
  <tr><td colspan="{{table.columns.length}}">{{table.noRecordsFoundLabel}}</td></tr>
{%endif%}
</tbody>
</table>